---
import { Icon } from "astro-icon/components";
import SearchBar from "./SearchBar.astro";

interface Props {
  initialMediaSelected?: "video" | "photo";
}

const { initialMediaSelected = "photo" } = Astro.props;
---

<header
  class="z-2000 sticky top-0 left-0 w-full bg-white border-b-1 border-gray-300"
>
  <nav class="flex justify-center w-full h-20 gap-2">
    <div class="w-full max-w-[1550px] flex items-center gap-5 px-8">
      <div class="flex-1">
        <a href="/" class="text-green-light font-bold text-3xl">Visualify</a>
      </div>

      <div class="w-250">
        <SearchBar initialMediaSelected={initialMediaSelected} />
      </div>

      <div class="flex flex-1 justify-end">
        <a
          class="p-1 transition-colors duration-150 hover:bg-gray-200 active:scale-95 rounded-full"
          href="https://github.com/zRyzeh/visualify"
          target="_blank"
        >
          <Icon class="h-10 w-10" name="github" color="black" />
        </a>
      </div>
    </div>
  </nav>
</header>
