---
import Footer from "@components/Footer/Footer.astro";
import { Gallery } from "@components/gallery/Gallery";
import SecondaryHeader from "@components/header/SecondaryHeader.astro";
import MainLayout from "@layouts/MainLayout.astro";

const { search } = Astro.params;
---

<MainLayout>
  <main class="min-h-screen">
    <SecondaryHeader initialMediaSelected="video" />

    <section class="flex gap-2 md:gap-8 justify-center p-8">
      <a href="/" class="px-5 py-2 text-gray-600 text-lg font-semibold">
        Photos
      </a>
      <a
        href="/videos"
        class="px-5 py-2 text-white text-lg bg-black/90 rounded-3xl font-semibold"
      >
        Videos
      </a>
      <a
        href="/favorites"
        class="px-5 py-2 text-gray-600 text-lg font-semibold"
      >
        Favorites
      </a>
    </section>

    <Gallery mediaItem="Videos" searchQuery={search} client:load />
  </main>

  <Footer />
</MainLayout>
